<div class="header-container">
     <div class="profile">
         <p class="name">Antonio Ixmatlahua Reyes</p>
         <p class="motto">tener cuadritos</p>
     </div>
     <div class="image">
         <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/foto2.jpeg?alt=media&token=2ea26eea-7c10-4200-b425-7083f7cbebf9" alt="Profile Image">
     </div>
     <div class="info">
         <ul>
             <li>zS22019957&#64;estudiantes.uv.mx</li>
             <li>2712669837</li>
             <li>Omealca, Veracruz, MX</li>
             <li>tony</li>
         </ul>
     </div>
 </div>
 