.header-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #387cad;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .image {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
  }
  
  .image img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    border: 3px solid #080808; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  }
  
  .profile, .info {
    flex: 1; 
  }
  .name {
    white-space: nowrap;  
    font-size: 28px;     
    text-align: center;   
    padding: 10px; 
    font-weight: bold;
  }
  
  .motto {
    font-style: italic; 
    color: #555; 
    font-size: 20px; 
  }
  
.info ul {
    list-style-type: none; 
    padding: 0;
    font-size: 1.0em;
    text-align: justify;
    font-weight: bold;

  }
  
  .info li {
    padding: 5px 0; 
  }