
<h3>intereses</h3>   
<div class="interests-container"> 
        <div class="interest-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/fisica.png?alt=media&token=c222c5ca-e9d1-4668-b7c7-6869817d3dcb"
                alt="Physics">
            <p>Physics</p>
        </div>
        <div class="interest-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/IA.png?alt=media&token=ae848073-ac3c-4a91-afd5-dd2c0cd70fbf"
                alt="AI">
            <p>AI</p>
        </div>
        <div class="interest-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/espacio.png?alt=media&token=d8dbb249-ae7a-48f2-84f5-e1679769abbf"
                alt="Space">
            <p>Space</p>
        </div>
        <div class="interest-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/videogames.png?alt=media&token=9bfcb24c-ff83-47a1-ab73-5760af16912b"
                alt="Video Games">
            <p>Video Games</p>
        </div>
        <div class="interest-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/maths.png?alt=media&token=994b4399-8ec8-4696-98cb-7d9098a31bf6"
                alt="Maths">
            <p>Maths</p>
        </div>
        <div class="interest-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/cinema.png?alt=media&token=16de167f-d815-4e3f-938b-0bac8c29054a"
                alt="Cinema">
            <p>Cinema</p>
        </div>
        <div class="interest-item">
            <img src="https://firebasestorage.googleapis.com/v0/b/apiantonio-1e671.appspot.com/o/soccer.png?alt=media&token=0e505d11-6812-461c-a218-c094d20584ad"
                alt="Soccer">
            <p>Soccer</p>
        </div>
        <!-- Agrega más intereses aquí -->
    
</div>