.languages-list {
    margin: 20px;
    padding: 0;
  }
  
  .languages-list h3 {
    margin-bottom: 10px;
  }
  
  .languages-list ul {
    display: flex;         
    flex-wrap: wrap;        
    list-style-type: none;  
    padding: 0;
    gap: 10px;              
  }
  
  .languages-list li {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    flex: 1;                
    min-width: 100px;       
    text-align: center;     
  }
  