<h3>Experiencia laboral</h3>

<div class="work-experience-container">
  <div class="work-item" *ngFor="let work of workExperience">
    <div class="work-header">
      <span class="work-fecha">{{ work.fecha }}</span>
      <span class="work-ubicacion">{{ work.ubicacion }}</span>
    </div>
    <div class="work-details">
      <span class="work-puesto">{{ work.puesto }}</span>
      <span class="work-empresa">{{ work.empresa }}</span>
    </div>
    <div class="work-logros">
      <h4>Logros</h4>
      <ul>
        <li *ngFor="let logro of work.logros">{{ logro.descripcion }}</li>
      </ul>
    </div>
  </div>
</div>
